{% extends "layout.html" %}
{% block content %}

<!--Usuario-->
<form action="/usuario", method="POST">
    <h2>Acceso a usuario</h2>
    <input type="text" name="usuario_id" placeholder="Contraseña">
    <input type="text" name="nombre" placeholder="Apellido Paterno">
    <input type="text" name="ap_pat" placeholder="Apellido Paterno">
    <input type="text" name="ap_mat" placeholder="Apellido Materno">
    <button type="submit"> Entrar </button>
</form>

<!--Cuenta Bancaria-->

<form action="/cajero", method="POST">
    <h2>Acceso a cuentas</h2>
    <input type="text" name="idc" placeholder="Contraseña">
    <input type="text" name="fecha" placeholder="Fecha Apertura">
    <button type="submit"> Entrar </button>
</form>

{% endblock %}

<body>

</body>